* {
    margin: 0px;
    padding: 0px;
}

body{
    background: url(bg.jpg) no-repeat fixed;
    /* background-position: center; */
    background-size: cover;
}

.container {
    background-color: whitesmoke;
    margin: 10% auto;
    margin-top: 200px;
    padding: 20px;
    width: 25%;
    border: 2px solid black;
}

#increment-btn{
    margin-top: 10px;
    background-color: brown;
    padding: 5px 5px;
    width: 80%;
}

#save-btn{
    margin-top: 10px;
    background-color: green;
    padding: 5px 5px;
    width: 80%;
    margin-bottom: 10px;
}